.top-actions {
  display: flex;
  justify-content: flex-end;
}

.logout-btn {
  background: #1f2937;
  color: white;
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #374151;
  transform: scale(1.12);
}
